<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <title>Football Info</title>
</head>
<body>
<script type="text/javascript">
    window.config = {{{toJSON config}}};
    window.navigation = {{{toJSON navigation}}};
</script>
<script src="./extLib/vue.min.js"></script>
<script src="./extLib/vuetify.min.js"></script>
<div id="app"></div>
<script src="./main.js"></script>
</body>

</html>